.pic__container {
    width: 100%;
    overflow: hidden;
  
    .card_main {
      padding: 75px 50px 75px;
      background: #f5f6fa;
      border: 1px solid #eee;
      border-radius: 10px;
      -webkit-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      -webkit-box-shadow: 0 9px 26px rgb(58 87 135 / 10%);
      box-shadow: 0 9px 26px rgb(58 87 135 / 10%);
      width: 415.333px;
      height: 350px;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-top: 40px;
      margin-left: 22px;
      margin-right: 70px;
      cursor: grab;
  
      .yellow_star {
        color: #facc39;
      }
  
      .testimonial_img_1 {
        border-radius: 100px;
        width: 80px;
        position: absolute;
        top: -40px;
        left: 156px;
      }
  
      .card_para {
        color: #878c9f;
        font-size: 13.5px;
        font-family: Georgia, "Times New Roman", Times, serif;
        font-style: italic;
        line-height: 24px;
        padding-bottom: 10px;
        font-weight: 500;
        text-align: center;
        max-width: 80%;
      }
  
      .card_title {
        font-weight: 600;
        color: #7d93b2;
        font-size: 16px;
      }
  
      .card_work {
        color: #4db7fe;
        font-weight: 600;
        font-size: 12px;
        padding-top: 6px;
      }
  
      .testimonilas-text p {
        color: #878c9f;
        font-size: 15px;
        font-family: Times New Roman;
        font-style: italic;
        line-height: 24px;
        padding-bottom: 10px;
        font-weight: 500;
        text-align: center;
      }
  
      .testi-link {
        position: absolute;
        bottom: 0;
        padding: 10px 0;
        border-radius: 10px 10px 0 0;
        background: #f9f9f9;
        border: 1px solid #eee;
        -webkit-box-shadow: 0 10px 15px rgb(0 0 0 / 3%);
        box-shadow: 0 10px 15px rgb(0 0 0 / 3%);
        left: 50%;
        width: 200px;
        margin-left: -100px;
        text-align: center;
        text-decoration: none;
        font-style: italic;
      }
  
      .left-quote {
        color: #4db7fe;
        position: absolute;
        left: 20px;
        top: 0;
        opacity: 0.4;
      }
      .right-quote {
        color: #4db7fe;
        position: absolute;
        right: 20px;
        bottom: 0;
        opacity: 0.4;
      }
    }
  
    .slick-next {
      right: -20px !important;
      background-color: rgba(128, 126, 126, 0.5) !important;
      margin-top: 32px !important ;
      width: 70px !important;
      height: 50px !important;
      border-bottom-left-radius: 40px;
      border-top-left-radius: 40px;
      z-index: 1 !important;
      transition: 0.3s;
    }
  
    .slick-next:hover {
      width: 90px !important;
      background-color: rgba(128, 126, 126, 0.5) !important;
    }
  
    .slick-next::before {
      content: url(../../../../Assets/images/images/left.png);
      background: transparent !important;
      outline: none !important;
      border: none !important;
      color: rgb(252, 252, 252) !important ;
      position: absolute;
      top: 12px;
      left: 23px;
    }
  
    .slick-dots li.slick-active button {
      color: #4db7fe !important;
      display: block !important;
    }
  
    .slick-dots li.slick-active button:before {
      color: #1d98e9 !important;
      transition: 0.3s !important;
      font-size: 15px !important;
      opacity: 2.75 !important;
    }
  
    .slick-dots li button:before {
      font-family: "slick";
      font-size: 6px;
      line-height: 20px;
      position: absolute;
      top: 28px !important;
      left: 0;
      width: 20px;
      height: 20px;
      content: "•";
      text-align: center;
      opacity: 0.25;
      color: gray !important;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  
    .slick-prev {
      left: -20px !important;
      background-color: rgba(128, 126, 126, 0.5) !important;
      margin-top: 32px !important ;
      width: 70px !important;
      height: 50px !important;
      border-bottom-right-radius: 40px;
      border-top-right-radius: 40px;
      z-index: 1 !important;
      transition: 0.3s;
    }
  
    .slick-prev:hover {
      width: 90px !important;
      background-color: rgba(128, 126, 126, 0.5) !important;
    }
  
    .slick-prev:before {
      content: url(../../../../Assets/images/images/right.png);
      background: transparent !important;
      outline: none !important;
      border: none !important;
      color: rgb(238, 238, 238) !important ;
      display: flex !important;
      justify-content: center !important;
      align-items: center !important;
      position: absolute;
      top: 11px;
      right: 24px;
    }
  
    .slick-prev:hover {
      background-color: purple;
    }
  
    .slick-dots li {
      position: relative !important;
      display: inline-block !important;
      width: 20px !important;
      height: 20px !important;
      margin: -42px -3px !important;
      padding-left: -28px !important;
      cursor: pointer;
    }
  
    @media only screen and (max-width: 660px) {
      .card_main {
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        width: 100% !important;
        margin-top: 50px !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
      }
      .testimonial_img_1 {
        display: flex !important;
        justify-content: center !important;
        left: -59% !important;
      }
    }





    .mainContainerDressCode{
        background-image: url('../../../../Assets/images/menHeader.png');
        width: 100%;
        height: auto;
        background-repeat: no-repeat;
        background-size: cover;
        height: 440px;
    
    
    }
    #root{
        overflow: hidden !important;
    }
    .innerContainerDressCode{
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.59);
        display: flex;
        justify-content: center;
    }
    .dressCodeImg{
        margin-right: 81px;
        /* width: 100%; */
    }
    .topStylishTailTxtBtn{
        margin-left: 92px;
    }
    .personalStylingTxt{
        font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 110.6%;
    /* or 106px */
    margin: 0px;
    
    letter-spacing: -0.03em;
    max-width: 290px;
    color: #25282A;
    
    
    }
    .spPersonalStyling{
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 110.6%;
        /* or 106px */
        
        letter-spacing: -0.03em;
        
        color: #25282A;
    
    }
    .btnTakeStyleQuiz{
        background: #25282A;
        width: 212px;
        height: 55px;
        border: none;
        border-radius: 35px;
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 141.6%;
        color: #FFFFFF;
        margin-top: 36px;
    }
    .dressCodeRights{
       
        /* margin-top: 50px;
        margin-bottom: 50px; */
        display: flex;
        justify-content: center;
        /* align-items: center; */
        align-items: center;
      
    
        /* width: 50%; */
    
    }
    .dressCodeLeft{
        /* width: 50%; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .verticalLine{
        width: 2px;
    height: 261px;
    
    
    background: #000000;
    
    }
    
    @media (max-width:725px) {
    
        .dressCodeImg {
        margin-right: 30px;
      }
        .topStylishTailTxtBtn {
        margin-left: 30px;}
    
    
    }
    
    @media (max-width:600px) {
        .mainContainerDressCode{
            height: auto;
           
    
        }
        .innerContainerDressCode{
            flex-direction: column;
            padding: 60px 0px;
            align-items: center;
        }
        .dressCodeLeft{
            width: auto;
        }
        .dressCodeRights{
            width: auto;
        } 
        .dressCodeRights {
            margin-top: 40px;
        }
    }
    
    
    

  }


